{{ form_start(form) }}

    {{ form_errors(form) }}
    {{ form_label(form.nomVehicule, 'Nom véhicule ', {'label_attr': {'class': 'foo'}}) }}
    {{ form_widget(form.nomVehicule) }}

    {{ form_row(form.numImmat) }}
    {{ form_row(form.prixHt) }}
    {{ form_row(form.nbPorte) }}
    {{ form_row(form.marque) }}
    {{ form_row(form.options) }}
    {{ form_row(form.typeVehicule) }}
    {{ form_row(form.color) }}


<button class="btn btn-outline-dark">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
